{% extends 'EnsTostainGuillaumeBundle::layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}
{% block javascripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a href="{{ path('ens_tostain_guillaume_category', { 'slug': category.slug }) }}">{{ category.name }}</a>
                        <small>
                            <a href="""{{ path('job_index', {'_format': 'atom'}) }}">
                            <span>Feed</span>
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            </a>
                        </small>
                    </h1>
                </div>
                <div class="panel-body">
                    {% include '@EnsTostainGuillaume/job/list.html.twig' with {'jobs': category.activejobs} %}
                    {% if category.morejobs %}
                    and <a href="{{ path('ens_tostain_guillaume_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
                    more...
                {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}